<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>854526210521-qfmguuqtplogg9t29ldo8dfspq2apsm9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.854526210521-qfmguuqtplogg9t29ldo8dfspq2apsm9</string>
	<key>API_KEY</key>
	<string>AIzaSyDh_gw39tagObgryoHOjS78p-eI2TPancw</string>
	<key>GCM_SENDER_ID</key>
	<string>854526210521</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatapp</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-app-d4758</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-app-d4758.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:854526210521:ios:d3e01a3c63d76f146229c8</string>
</dict>
</plist>